<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s | Tech VJ</title>
</head>
<body>
    <header>
        <nav>
            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                Menu
            </button>
            <div id="offcanvasWithBothOptions" tabindex="-1" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div>
                    <button type="button Tina" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                    <img src="https://i.ibb.co/qJyZWCv/20230629-081948-0000.png" width="80" height="80" alt="">
                    <h4 id="offcanvasWithBothOptionsLabel">Tech VJ</h4>
                    <p>The One & Only</p>
                    <a href="https://github.com/VJBots" target="_blank">Follow TECH VJ</a>
                    <div>
                        <a href="https://github.com/VJBots" target="_blank">Updates</a>
                        <a href="https://telegram.me/vj_botz" target="_blank">Fork repo</a>
                        <a href="https://youtube.com/@Tech_VJ" target="_blank">Subscribe</a>
                    </div>
                </div>
                <div>
                    <h2>Explore</h2>
                    <div>
                        <a href="https://t.me/vj_bots">Trending Movies</a>
                        <a href="https://t.me/vj_bots">Newly Released Movies</a>
                        <a href="https://t.me/vj_bots">Popular on Movies Available</a>
                        <a href="https://t.me/vj_bots">Bollywood Movies</a>
                        <a href="https://t.me/vj_bots">Hollwood Movies</a>
                        <a href="https://t.me/vj_bots">webseries</a>
                    </div>
                    <p>
                        <a data-bs-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">watch Deploy tutorial</a>
                    </p>
                    <div>
                        <h5>With Love</h5>
                        <div>
                            <span>©</span>
                            <span>Tech VJ</span>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="https://t.me/vj_bots">Movies group</a>
                </div>
            </nav>
        </header>
        <div>
            <div id="file-name">
                <p>
                    <span id="myDiv">%s</span>
                </p>
            </div>
        </div>
        <div>
            <a href=%s>Download _404 Error_%s</a>
        </div>
        <footer>
            <div>
                <a href="https://telegram.me/KingVj01" target="_blank">Admin</a>
                <a href="https://telegram.me/KingVj01" target="_blank">Telegram</a>
                <a href="https://instagram.com/tech.vj" target="_blank">Instagram</a>
                <a href="https://telegram.me/KingVj01" target="_blank">Owner</a>
                <a href="https://github.com/VJBots" target="_blank">Github</a>
            </div>
            <div>
                <div>
                    <h5>Think & just code it... <sup>VJ</sup></h5>
                </div>
                <div>
                    <h5>Success is the journey of millions of failure and lots of hard work <sup>VJ</sup></h5>
                </div>
                <div>
                    <img src="https://i.ibb.co/qJyZWCv/20230629-081948-0000.png" height="140px" alt="logo">
                </div>
            </div>
            <div>
                <h5>©
                    <script type="text/JavaScript">
                        var theDate=new Date()
                        document.write(theDate.getFullYear())
                    </script> Copyright:
                    <a href="https://telegram.me/vj_bots">Tech VJ</a> All right reserved
                </h5>
            </div>
        </footer>
        <script>
            var div = document.getElementById('myDiv');
            var text = div.textContent;
            if(text.length > 60){
                div.textContent = text.slice(0, 60)+"....";
            }
        </script>
    </body>
</html>